<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>NaoCloud About</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/roboto-logo.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/about.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/images/roboto-logo.png"/>
    <script src="/js/about.js"></script>
    <style>
        #canvas_container {
            background-image: url("images/19.png");
        }
    </style>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{admin/home}">NaoCloud</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{admin/home}">Home</a></li>
                <li><a th:href="@{/chat}">Chat</a></li>
                <li class="active"><a th:href="@{/about}">About</a></li>
                <li><a href="/images/pdf_docs/Prirucka_NAO.pdf">Source origin</a></li>
            </ul>
        </div>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="logout"
                    type="Submit">Logout
            </button>
        </form>
    </div>
</nav>

<div id="my_pdf_viewer">
    <div id="canvas_container" style="">
        <canvas id="pdf_renderer"></canvas>

        <div id="navigation_controls">
            <button id="go_previous">Previous</button>
            <label>
                <input id="current_page" value="1" type="number"/>
            </label>
            <button id="go_next">Next</button>
        </div>

        <div id="zoom_controls">
            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
        </div>

    </div>

</div>

</body>
</html>

